* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  width: 1440px;
  height: 58px;
  background: #19849b;
}

h1 {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 12px;
}

.info {
  width: 1440px;
  height: 1200px;
  background: #272a2f;
  font-family: 'Ubuntu';
}

.info__image {
  float: left;
  padding: 51px 0 0 227px;
  margin-right: 68px;
}

.info__item {
  width: 559px;
  height: 270px;
  float: left;
  font-family: 'Ubuntu';
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding-top: 51px;
}

hr {
  width: 559px;
  height: 4px;
  border: 0;
  background: #19849b;
  margin-top: 14px;
}

.info__item span {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.info__item p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding-top: 30px;
}

button {
  background-color: #272a2f;
  border: 2px solid #ffffff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background: #272a2f;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  width: 293px;
  height: 50px;
  margin-top: 45px;
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

h3 {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding-left: 44px;
}

.text-1 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding-left: 44px;
}

.line {
  display: flex;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  margin: 42px 0 0 44px;
  color: #8ea5ac;
}

.name {
  width: 200px;
  height: 50px;
  background: #324b53;
}

.email {
  width: 347px;
  height: 50px;
  background: #324b53;
  margin-left: 20px;
}

.text {
  width: 567px;
  height: 219px;
  background: #324b53;
  margin: 20px 0 0 44px;
}
.send {
  width: 217px;
  height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  margin: 26px 0 0 44px;
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

h4 {
  padding: 530px 0 0 227px;
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.item {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding: 15px 0 0 227px;
}

.wrapper {
  width: 1038px;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.block {
  grid-column-start: 1;
  grid-row-start: 1;
  padding: 28px 0 0 227px;
}

.block-1 {
  grid-column-start: 2;
  grid-row-start: 1;
  padding: 28px 0 0 21px;
}

.block-2 {
  grid-column-start: 3;
  grid-row-start: 1;
  padding: 28px 0 0 21px;
}

.block-3 {
  grid-column-start: 4;
  grid-row-start: 1;
  padding: 28px 0 0 21px;
}

.block-4 {
  grid-column-start: 1;
  grid-row-start: 2;
  padding: 20px 0 0 227px;
}

.block-5 {
  grid-column-start: 2;
  grid-row-start: 2;
  padding: 20px 0 0 21px;
}

.block-6 {
  grid-column-start: 3;
  grid-row-start: 2;
  padding: 20px 0 0 21px;
}

.block-7 {
  grid-column-start: 4;
  grid-row-start: 2;
  padding: 20px 0 0 21px;
}

.zoom:hover {
  transform: scale(1.5);
}

.footer {
  width: 1440px;
  height: 161px;
  background: #19849b;
}

.footer__image {
  float: left;
  border-radius: 70%;
  margin: 37px 25px 0 558px;
}

h5 {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 41px;
}

.footer p {
  font-family: 'Ubuntu';
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer span {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.footer__item {
  width: 1440px;
  height: 44px;
  background: #16758a;
}

.footer__item {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 17px;
}
